// font
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap");

$font: "Poppins", sans-serif;
$white: #fff;
$black: #000;
$background: rgba(0, 0, 0, 0.5);
@mixin div_background {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  @include div_background();
}

body {
  font-family: $font;
  background: $background;
  color: $white;
  overflow: hidden;
}

.background {
  object-fit: cover;
  opacity: 0.6;
  position: relative;
  width: 100vw;
  height: 100vh;
}

main {
  position: absolute;
  top: 0;
  padding: 2rem;
  max-width: 100%;

  .current-info {
    display: flex;
    flex-direction: column;
    font-weight: 200;

    .time {
      font-size: 3rem;

      #am-pm {
        font-size: 1rem;
      }
    }

    .time-zone {
      font-size: 1.875rem;
      font-weight: 500;
    }

    .temp {
      font-size: 2.25rem;
      font-weight: 600;
      padding-top: 10px;
      padding-bottom: 20px;
    }
  }

  .others .weather-item {
    display: flex;
    padding-bottom: 10px;
    font-weight: 200;
    font-size: 1rem;

    .weather-info {
      width: 320px;
      display: flex;
      justify-content: space-between;
    }

    img {
      padding: 5px 20px 0 0;
      width: 40px;
    }

    .weather-data {
      font-weight: 400;
      font-size: 1.25rem;
    }
  }
}

.future-forecast {
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 1.5rem;
  font-weight: 200;
  justify-content: start;
  align-items: none;
  overflow-y: scroll;
  padding-bottom: 20px;

  .today {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;

    .day {
      padding-bottom: 20px;
      font-size: 1.25rem;
      padding-right: 40px;
    }

    .temp {
      font-weight: 500;
      padding-top: 10px;

      div {
        width: 130px;
        padding-bottom: 10px;
      }
    }

    .other {
      display: flex;
      flex-direction: column;
      padding-right: 20px;
      font-size: 1rem;
    }
  }

  .weather-forecast {
    display: flex;
    margin-left: 20px;
    font-size: 1rem;
    padding: 20px 40px 50px 0;

    .weather-forecast-item {
      margin-left: 20px;
      padding: 10px 20px;
      font-size: 1rem;

      .day {
        padding: 30px 30px 10px 0;
      }

      .temp {
        font-weight: 400;
      }
    }
  }
}

@media screen and (min-width: 656px) {
  main {
    width: 100%;

    .current-info {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .others {
    padding-top: 15px;

    .weather-item .weather-info {
      max-width: 130px;
      flex-direction: column;
    }
  }

  .future-forecast {
    overflow-y: scroll;
  }
}

@media screen and (min-width: 768px) {
  .current-info {
    .time {
      font-size: 3.25rem;
    }

    .time-zone {
      font-size: 2rem;
    }

    .temp {
      font-size: 2.5rem;
    }

    .others {
      .weather-item {
        font-size: 1.15rem;

        .weather-data {
          font-size: 1.3rem;
          font-weight: 500;
        }
      }
    }
  }

  .future-forecast {
    overflow-y: scroll;

    .today {
      .other {
        font-size: 1.15rem;

        .day {
          font-size: 1.8rem;
        }
      }
    }

    .weather-forecast .weather-forecast-item {
      font-size: 1.25rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  main {
    padding: 40px;

    .current-info {
      .time {
        font-size: 3.5rem;
      }

      .time-zone {
        font-size: 2.15rem;
      }

      .temp {
        font-size: 2.75rem;
      }

      .others {
        .weather-item {
          font-size: 1.25rem;

          img {
            width: 45px;
          }

          .weather-info {
            max-width: 180px;
          }

          .weather-data {
            font-size: 1.5rem;
            font-weight: 500;
          }
        }
      }
    }

    .future-forecast {
      overflow-y: scroll;
      .weather-forecast .weather-forecast-item .day {
        padding-right: 40px;
      }
    }
  }
}
